# Credenciales de Gmail
EMAIL=tu_correo@gmail.com
APP_PASSWORD=tu_contrasena_de_aplicacion

# Cantidad máxima de correos procesados por ejecución
EMAIL_PROCESSING_LIMIT=10

# Podés dejarla vacía. En ese caso se utilizará automáticamente:
# C:\Users\<usuario_actual>\Documents\Facturas
#
# Ejemplo personalizado:
# SAVE_FOLDER=C:\Users\piola\Documents\Facturas
SAVE_FOLDER=
